body {
    margin: 0;
    padding: 0;
    background: url('tlo.png') no-repeat center center;
    background-size: cover;  /* Dopasowanie do całego ekranu */
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.links {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.links a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.links a:hover {
    background: #8000ff;
    box-shadow: 0 0 15px #8000ff;
}
